<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>CloudShop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>CloudShop</h1>
        <p>Bulut Tabanlı E-Ticaret Uygulaması</p>
        <a href="/cart" class="nav-link">Sepetim</a>
<a href="/admin" class="nav-link">Admin Paneli</a>
    </header>

    <main>
        <h2>Ürünler</h2>

        <div class="products" id="products">
        </div>
    </main>
    <script src="/app.js"></script>

</body>
</html>